<!DOCTYPE html>
<html>
<head>
<title>User login</title>
<link href="loginPage.css?20200720" rel="stylesheet" type="text/css"/>
</head>
<body id="img">
  <div id="wrapper">
    <h1 id="loginTitle">Library Login</h1>
    
    <form method="post">
        <label for="username"> Username: </label>
        <br/>
        <input name="usernameinput" placeholder="Enter your name" type="message" >
        <br/>
        <label for="password"> Password: </label>
        <br/>
        <input name="passwordinput" placeholder="Enter your password" type="message" >
        <br/>  
        <a href="/register">Create a new account...</a>
        <br/>
        <input id="submit" type="submit" value="Login">
    </form>
  </div>
</body>
</html>

