<!DOCTYPE html>
<html>
<head>
<title>Main page</title>
<link href="mainPage.css?20200721" rel="stylesheet" type="text/css"/>
</head>
<body>
  <h1>welcome to the library</h1>
  <% for bookname in @bookname %>
  <div>
    <p>Book List: <%= bookname %></p>
  </div>
  <% end %>
  
  <form method="get" action="/mainPage">
  <div>
    <label for="search"> Search: </label>
    <br/>
    <input name="searchinput" placeholder="Search for..." type="message" >
    <input id="submit" type="submit" value="Search">
    <p>Search result: <%= @searching %></p>
  </div>
  </form>
</body>
</html>
