<!DOCTYPE html>
<html>
<head>
<title>User register</title>
<link href="loginPage.css?20200720" rel="stylesheet" type="text/css"/>
</head>
<body>
  <body id="img">
  <div id="wrapper">
    <h1 id="loginTitle">Create Account</h1>
    
    <form method="post">
        <label for="username"> Username: </label>
        <br/>
        <input name="usernameinput" placeholder="Enter your name" type="message" >
        <br/>
        <label for="email"> Email: </label>
        <br/> 
        <input name="emailinput" placeholder="Enter your email" type="message" >
        <br/>
        <label for="password"> Password: </label>
        <br/>
        <input name="passwordinput" placeholder="Enter your password" type="message" >
        <br/>  
        <a href="/login" id="link">Back to Login page</a>
        <br/>
        <input id="submit" type="submit" value="Create Account">
    </form>
  </div>
</body>
</body>
</html>

